.fraseContainer {
   background-color: #333;
   border-bottom: 3px solid #f34242;
   box-shadow: 3px -16px rgb(151, 151, 238);
}

.fraseContent {
   color: #fff;
   background-color: #333;
   margin: 0;
}
