.App {
   text-align: center;
   display: flex;
   justify-content: center;
}

form {
   border-radius: 0px 0px 10px 10px;
   border: 30px solid rgba(97, 218, 251, 1);
   background-color: rgba(97, 218, 251, 1);
   padding: 10px;
}

/* 
PERSONALIZAR UM INPUT ESPECÍFICO
input[type='submit'] {
   padding: 5px;
   margin: 10px 10px;
   background-color: rgb(61, 164, 212);
} */

input {
   padding: 3px;
   border-radius: 3px;
   margin: 5px 10px 0 5px;
   background-color: rgba(97, 230, 251, 1);
   border: none;
}

p {
   box-shadow: 1.8px 17px 22px -8px rgba(73, 71, 94, 0.3);
}

h1,
h2,
h3 {
   padding: 7px;
   border-radius: 4px;
   background-color: rgba(37, 200, 255, 0.1);
   text-shadow: 1.2px 1.2px rgba(73, 71, 94, 0.2);
}

.MargimBodyContainer {
   padding: 8px;
   max-width: 90%;
   border-radius: 5px 5px 10px 10px;
   border: solid 0.5px rgba(233, 233, 231, 0.3);
   box-shadow: 18px 17px 22px -8px rgba(73, 71, 94, 0.3);
   /* Dir/Esq(Offset-x) Superior/Infer(Offset-y) blur-radius(Raio de Desfoque) spread-radius(Raio de Propagação) */
   /* rgba Red0, Green0, Blue0, Alpha(Opacidade)0.2 */
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}

.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
