/** @format */

body {
	text-align: center;
	border: solid 3px white;
	padding: 50px;
	background-color: #efefef;
}

h1 {
	color: #333;
}

p {
	background-color: #999;
	padding: 10px;
}

.App {
	border: solid white 15px;
  box-shadow: 18px 17px 22px -8px rgba(112, 103, 228, 0.3);
   /* Dir/Esq(Offset-x) Superior/Infer(Offset-y) blur-radius(Raio de Desfoque) spread-radius(Raio de Propagação) */
   /* rgba Red0, Green0, Blue0, Alpha(Opacidade)0.2 */
   /* border: solid white 15px; */
}

/*
align-items: center;
flex-direction: column;
justify-content: center;
*/
/**/
/**/
/**/
/**/
/* ------ DEFAUT CODE INDEX.CSS
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
